Source: ros-groovy-libcsm
Section: misc
Priority: extra
Maintainer: Stephan Wirth <swirth@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libgsl0-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-libcsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgsl0-dev, ros-groovy-catkin
Description: Package for Andrea Censi's canonical scan matcher
